<%= form_with(model: repository) do |form| %>
  <% if repository.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(repository.errors.count, "error") %> prohibited this repository from being saved:</h2>

      <ul>
        <% repository.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div style="display: inline-block">
      <%= form.label :id_repo, style: "display: block" %>
      <%= form.number_field :id_repo %>
    </div>
    <% if repository.id.present? %>
      <div style="display: inline-block">
        <%= form.submit 'Sinchronyze repo', formaction: update_from_api_repository_path(repository.id), method: :patch %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :login, style: "display: block" %>
    <%= form.text_field :login %>
  </div>

  <div>
    <%= form.label :avatar, style: "display: block" %>
    <%= form.text_field :avatar %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <br/>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
