<div id="<%= dom_id repository %>">
  <p>
    <strong>Id repo:</strong>
    <%= repository.id_repo %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= repository.login %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= repository.avatar %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= repository.url %>
  </p>

</div>
