<p style="color: green"><%= notice %></p>

<h1>Repositories</h1>

<div id="repositories">
  <% @repositories.each do |repository| %>
    <%= render repository %>
    <p>
      <%= link_to "Show", repository %> |
      <%= link_to "Edit", edit_repository_path(repository) %> |
      <%= link_to "Destroy", repository, method: :delete %>
    </p>
  <% end %>
</div>

<br/>
<br/>

<%= link_to "New repository", new_repository_path %>

<br/>
<br/>
<br/>
<%= paginate @repositories %>